---
layout: bootstrap_layout
title: 我的博客
---
<h2>{{page.title}}</h2>
<p>最新文章</p>
<ul>
	{%for post in site.posts%}
	<li>
		{{post.date|date_to_string}}
		<a href="{{post.url}}">{{post.title}}</a>
	</li>
	{%endfor%}

	{%for post in paginator.posts %}
	<li>
		{{post.date|date_to_string}} >>
		<a href="{{post.url}}">{{post.title}}</a>
	</li>
	{%endfor%}
	<ul class="pager">
		<li>
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">前一页</a>
			{% else %}
			<a href="#" class="disabled">前一页</a>
			{% endif %}
		</li>
		<li>
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">后一页</a>
			{% else %}
			<a href="#" clsss="disabled">后一页</a>
			{% endif %}
		</li>
	</div>
</ul>